.navbar-brand{
    color: #90ee90;
}
.nab-content{
    background-color: #32cd32;
}
.nav-link{
    color: #90ee90;
}
.port-content:hover{
    color: #32cd32 ;
}
.class-title{
    font-size: 30px;
}
